body{
    background-color: #e7e7e7;
    color:#000000;
    padding: 0px;
    margin:  0px;
}

@font-face {
    font-family: logoFont1;
    src: url(LithosPro.otf);
}
@font-face {
    font-family: logoFont2;
    src: url(arial_black.ttf);
}

#top_nav{
    padding: 0px 20px;
    background-color: #ffffff;
    color: #000000;
}

.logoFont1{
    font-family: logoFont1;
}
.logoFont2{
    font-family: logoFont2;
}

.row{
    margin: inherit !important;
}
.navbar-brand{
    font-size: 24px;
}

.navbar-default {
    color: #ffffff;
    background-color: #000000;
    border: none !important;
}
.navbar-default a:link{
    color: #ffffff;
    background-color: #000000;
}
.navbar-default a:hover{
    color: #ffffff !important;
    background-color: #FB2222 !important;
}
.navbar-default a:active{
    color: #ffffff;
    background-color: #000000;
}
.navbar-default a:visited{
    color: #ffffff;
    background-color: #000000;
}


.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{
    color: #ffffff !important;
    background-color: #FB2222 !important;
}
.navbar-default .navbar-nav>li>a{
    color: #ffffff !important;
}

.navbar-header a.navbar-brand{
    color: #ffffff !important;
    background-color: #000000 !important;
}

